@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-8">
        <div class="our_about_left_content">
            <div class="section_title">
                <h2>About our firm </h2>
            </div>
            <p>Add Incomes aims at giving you an opportunity to become an entrepreneur by retailing our products and also sharing the opportunity with others who would like to do the same. .</p>
            <p>Our revenue sharing model gives our associates ample scope for generating substantial revenues, thus, enabling them to be self reliant. Add Incomes efficient sales and marketing plan gives you the control and presents you with the flexibility to work wherever you want, whenever you want! It will give you plantifull time for friends &amp; family and at the same time give you an opportunity to earn a good income as well. It can easily fulfill your need to be financially independent. Our processes are simple to follow and we offer you all the personal support, including training and assistance you require to become the Business Owner. Our "Product and Business" training will help you attain your highest potential and ensure you achieve goals beyond your wildest imagination. .. </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="our_about_image">
            <img src="img/about-right-1.jpg" alt="">
        </div>
    </div>
</div>